.selected{
    background-color: #CFD8DC;
    color: white; 
}

.user{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 25em;
}

.user li{
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
}

.user li.selected:hover {
    background-color: #BBD8DC ;
    color: white;
  }
  .user li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }

  .user .buttons{
   
    float: right;
    margin-right: .5em;
  }
