<div class="add-user-modal"  *ngIf="visible" >
    <div class="modal-content">
        <div class="modal-header">
            <span *ngIf="closable" (click)="closeModal()"  class="close">&times;</span>
            <h3>Добавляем нового пользователя</h3>
        </div>
        <div class="modal-body">
            <input class="new-user" placeholder="логин" [(ngModel)]="newUser.login">
            <input class="new-user" placeholder="пароль" [(ngModel)]="newUser.pass">
            <input class="new-user" placeholder="комментарий" [(ngModel)]="newUser.comment">
        </div>
        <div class="modl-footer" >
            <button (click)="addUser()">Сохранить</button>
        </div>
    </div>
</div>
