<div class="add-user-modal" *ngIf="visible">
    <div class="modal-content">
        <div class="modal-header">
            <span *ngIf="closable" (click)="closeModal()" class="close">&times;</span>
            <h3>Добавляем нового пользователя</h3>
        </div>

        <form [formGroup]="addUserForm" (ngSubmit)="saveForm(addUserForm.value)">
            <label for="login">Логин</label>
            <input type="text" id="login" formControlName="login">

            <div class="error" *ngIf="isControlInvalid('login')">
                Логин должен состоять только из русских букв
            </div>
            <br/>
            <br/>

            <label for="pass">Пароль</label>
            <input type="text" id="pass" formControlName="pass">
            <br/>
            <br/>

            <label for="comment">Комментарий</label>
            <input type="text" id="comment" formControlName="comment">
            <br/>
            <br/>
            <div class="modl-footer">
                <button type="submit">Добавить</button>
            </div>
        </form>
    </div>
</div>


<!-- <div class="add-user-modal"  *ngIf="visible" >
    <div class="modal-content">
        <div class="modal-header">
            <span *ngIf="closable" (click)="closeModal()"  class="close">&times;</span>
            <h3>Добавляем нового пользователя</h3>
        </div>
        <div class="modal-body">
            <input class="new-user" placeholder="логин" [(ngModel)]="newUser.login">
            <input class="new-user" placeholder="пароль" [(ngModel)]="newUser.pass">
            <input class="new-user" placeholder="комментарий" [(ngModel)]="newUser.comment">
        </div>
        <div class="modl-footer" >
            <button (click)="addUser()">Сохранить</button>
        </div>
    </div>
</div> -->